<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>京东网上超市-食品饮料、粮油调味、营养保健、生鲜食品 -京东</title>
    <link rel="stylesheet" href="../static/css/base.css"/>
    <link rel="stylesheet" href="../static/css/common.css"/>
    <link rel="stylesheet" href="../static/css/page_index.css"/>
    <script src=""></script>
</head>
<body>

    <!--顶部导航-->
    <div class="header w_100">
        <header class="headerContent f13 fc666 mbc">
            <nav>
                <ul>
                    <li class="">
                        <div class="delivery pr overHid">
                            送至：<span>北京</span>
                            <i class="_downArrow pr fn inlineBlock overHid">
                                <i class="fn pr inlineBlock no_unl overHid">◇</i>
                            </i>
                        </div>

                        <div class="">
                            <a href="#" class="city">北京</a>
                            <a href="#" class="city">上海</a>
                            <a href="#" class="city">天津</a>
                            <a href="#" class="city">重庆</a>
                            <a href="#" class="city">河北</a>
                            <a href="#" class="city">山西</a>
                            <a href="#" class="city">河南</a>
                            <a href="#" class="city">辽宁</a>
                            <a href="#" class="city">吉林</a>
                            <a href="#" class="city">黑龙江</a>
                            <a href="#" class="city">内蒙古</a>
                            <a href="#" class="city">江苏</a>
                            <a href="#" class="city">山东</a>
                            <a href="#" class="city">安徽</a>
                            <a href="#" class="city">浙江</a>
                            <a href="#" class="city">福建</a>
                            <a href="#" class="city">湖北</a>
                            <a href="#" class="city">湖南</a>
                            <a href="#" class="city">广东</a>
                            <a href="#" class="city">广西</a>
                            <a href="#" class="city">江西</a>
                            <a href="#" class="city">四川</a>
                            <a href="#" class="city">海南</a>
                            <a href="#" class="city">贵州</a>
                            <a href="#" class="city">云南</a>
                            <a href="#" class="city">西藏</a>
                            <a href="#" class="city">陕西</a>
                            <a href="#" class="city">甘肃</a>
                            <a href="#" class="city">青海</a>
                            <a href="#" class="city">宁夏</a>
                            <a href="#" class="city">新疆</a>
                            <a href="#" class="city">台湾</a>
                            <a href="#" class="city">香港</a>
                            <a href="#" class="city">澳门</a>
                            <a href="#" class="city">钓鱼岛</a>
                            <a href="#" class="city">海外</a>
                        </div>
                    </li>
                </ul>

                <ul>
                    <li></li>
                </ul>
            </nav>
        </header>
    </div>




</body>
</html>