<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>京东网上超市-食品饮料、粮油调味、营养保健、生鲜食品 -京东</title>
    <link rel="stylesheet" href="../static/css/base.css"/>
    <link rel="stylesheet" href="../static/css/common.css"/>
    <link rel="stylesheet" href="../static/css/page_index.css"/>
    <script src="../static/js/org/jquery-2.1.3.min.js"></script>
    <script src="../static/js/module/index.js"></script>
</head>
<body>

    <!--顶部导航-->
    <div class="header w_100">
        <header class="headerContent f13 fc666 mbc">
            <nav>
                <ul class="ulLeft">
                    <li class="navListItem">
                        <div class="delivery pr overHid">
                            送至：<span>北京</span>
                            <i class="_downArrow pr fn inlineBlock overHid">
                                <i class="fn pr inlineBlock no_unl overHid">◇</i>
                            </i>
                        </div>

                        <div class="deliveryCity pr">
                            <div class="city"><a href="#" class="_aClick">北京</a></div>
                            <div class="city"><a href="#" class="">上海</a></div>
                            <div class="city"><a href="#" class="">天津</a></div>
                            <div class="city"><a href="#" class="">重庆</a></div>
                            <div class="city"><a href="#" class="">河北</a></div>
                            <div class="city"><a href="#" class="">山西</a></div>
                            <div class="city"><a href="#" class="">河南</a></div>
                            <div class="city"><a href="#" class="">辽宁</a></div>
                            <div class="city"><a href="#" class="">吉林</a></div>
                            <div class="city"><a href="#" class="">黑龙江</a></div>
                            <div class="city"><a href="#" class="">内蒙古</a></div>
                            <div class="city"><a href="#" class="">江苏</a></div>
                            <div class="city"><a href="#" class="">山东</a></div>
                            <div class="city"><a href="#" class="">安徽</a></div>
                            <div class="city"><a href="#" class="">浙江</a></div>
                            <div class="city"><a href="#" class="">福建</a></div>
                            <div class="city"><a href="#" class="">湖北</a></div>
                            <div class="city"><a href="#" class="">湖南</a></div>
                            <div class="city"><a href="#" class="">广东</a></div>
                            <div class="city"><a href="#" class="">广西</a></div>
                            <div class="city"><a href="#" class="">江西</a></div>
                            <div class="city"><a href="#" class="">四川</a></div>
                            <div class="city"><a href="#" class="">海南</a></div>
                            <div class="city"><a href="#" class="">贵州</a></div>
                            <div class="city"><a href="#" class="">云南</a></div>
                            <div class="city"><a href="#" class="">西藏</a></div>
                            <div class="city"><a href="#" class="">陕西</a></div>
                            <div class="city"><a href="#" class="">甘肃</a></div>
                            <div class="city"><a href="#" class="">青海</a></div>
                            <div class="city"><a href="#" class="">宁夏</a></div>
                            <div class="city"><a href="#" class="">新疆</a></div>
                            <div class="city"><a href="#" class="">台湾</a></div>
                            <div class="city"><a href="#" class="">香港</a></div>
                            <div class="city"><a href="#" class="">澳门</a></div>
                            <div class="city"><a href="#" class="">钓鱼岛</a></div>
                            <div class="city"><a href="#" class="">海外</a></div>
                        </div>
                    </li>
                </ul>

                <ul class="ulRight">
                    <li class="navListItem">
                        <a href="#">您好,请登录</a>&nbsp;
                        <a href="#">退出</a>
                    </li>
                    <li class="navListItem">我的订单</li>
                    <li class="navListItem">我的京东</li>
                    <li class="navListItem">京东会员</li>
                    <li class="navListItem">企业采购</li>
                    <li class="navListItem">手机京东</li>
                    <li class="navListItem">关注京东</li>
                    <li class="navListItem">客户服务</li>
                    <li class="navListItem">网站导航</li>
                </ul>
            </nav>
        </header>
    </div>




</body>
</html>