<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>京东网上超市-食品饮料、粮油调味、营养保健、生鲜食品 -京东</title>
    <link rel="stylesheet" href="../static/css/base.css"/>
    <link rel="stylesheet" href="../static/css/common.css"/>
    <link rel="stylesheet" href="../static/css/page_index.css"/>
    <script src="../static/js/org/jquery-2.1.3.min.js"></script>
    <script src="../static/js/module/index.js"></script>
</head>
<body>

    <!--顶部导航 开始-->
    <div class="header w_100">
        <header class="headerContent f13 fc666 mbc">
            <nav>
                <ul class="ulLeft">
                    <li class="navListItem pr">
                        <div class="delivery pr overHid">
                            送至：<span>北京</span>
                            <i class="_downArrow pr fn inlineBlock overHid">
                                <i class="fn pr inlineBlock no_unl overHid">◇</i>
                            </i>
                        </div>

                         <div class="deliveryCity pa  w313 h246">
                            <div class="city w60"><a href="#" class="_aClick">北京</a></div>
                            <div class="city w60"><a href="#" class="">上海</a></div>
                            <div class="city w60"><a href="#" class="">天津</a></div>
                            <div class="city w60"><a href="#" class="">重庆</a></div>
                            <div class="city w60"><a href="#" class="">河北</a></div>
                            <div class="city w60"><a href="#" class="">山西</a></div>
                            <div class="city w60"><a href="#" class="">河南</a></div>
                            <div class="city w60"><a href="#" class="">辽宁</a></div>
                            <div class="city w60"><a href="#" class="">吉林</a></div>
                            <div class="city w60"><a href="#" class="">黑龙江</a></div>
                            <div class="city w60"><a href="#" class="">内蒙古</a></div>
                            <div class="city w60"><a href="#" class="">江苏</a></div>
                            <div class="city w60"><a href="#" class="">山东</a></div>
                            <div class="city w60"><a href="#" class="">安徽</a></div>
                            <div class="city w60"><a href="#" class="">浙江</a></div>
                            <div class="city w60"><a href="#" class="">福建</a></div>
                            <div class="city w60"><a href="#" class="">湖北</a></div>
                            <div class="city w60"><a href="#" class="">湖南</a></div>
                            <div class="city w60"><a href="#" class="">广东</a></div>
                            <div class="city w60"><a href="#" class="">广西</a></div>
                            <div class="city w60"><a href="#" class="">江西</a></div>
                            <div class="city w60"><a href="#" class="">四川</a></div>
                            <div class="city w60"><a href="#" class="">海南</a></div>
                            <div class="city w60"><a href="#" class="">贵州</a></div>
                            <div class="city w60"><a href="#" class="">云南</a></div>
                            <div class="city w60"><a href="#" class="">西藏</a></div>
                            <div class="city w60"><a href="#" class="">陕西</a></div>
                            <div class="city w60"><a href="#" class="">甘肃</a></div>
                            <div class="city w60"><a href="#" class="">青海</a></div>
                            <div class="city w60"><a href="#" class="">宁夏</a></div>
                            <div class="city w60"><a href="#" class="">新疆</a></div>
                            <div class="city w60"><a href="#" class="">台湾</a></div>
                            <div class="city w60"><a href="#" class="">香港</a></div>
                            <div class="city w60"><a href="#" class="">澳门</a></div>
                            <div class="city w60"><a href="#" class="">钓鱼岛</a></div>
                            <div class="city w60"><a href="#" class="">海外</a></div>
                        </div>
                    </li>
                </ul>

                <ul class="ulRight">
                    <li class="navListItem w120 pr">
                        <a href="#">您好,请登录</a>&nbsp;
                        <a href="#" style="color: #c81623">免费注册</a>
                    </li>
                    <li class="navListItem w61 pr">
                        <a href="#">我的订单</a>
                    </li>
                    <li class="navListItem w74 pr">
                        <div class="delivery pr overHid">
                            <a href="#">我的京东</a>
                            <i class="_downArrow pr fn inlineBlock overHid">
                                <i class="fn pr inlineBlock no_unl overHid">◇</i>
                            </i>
                        </div>
                        <div class="deliveryCity pa w270 h246">

                        </div>


                    </li>
                    <li class="navListItem w61 pr">
                        <a href="#">京东会员</a>
                    </li>
                    <li class="navListItem w61 pr">
                        <a href="#">企业采购</a>
                    </li>
                    <li class="navListItem w74 pr">
                        <div class="delivery pr overHid">
                            <a href="#">手机京东</a>
                            <i class="_downArrow pr fn inlineBlock overHid">
                                <i class="fn pr inlineBlock no_unl overHid">◇</i>
                            </i>
                        </div>
                        <div class="deliveryCity pa w240 h180">

                        </div>
                    </li>
                    <li class="navListItem w74 pr">
                        <div class="delivery  pr overHid">
                            <a href="#">关注京东</a>
                            <i class="_downArrow pr fn inlineBlock overHid">
                                <i class="fn pr inlineBlock no_unl overHid">◇</i>
                            </i>
                        </div>

                        <div class="deliveryCity pa w62 h180">

                        </div>
                    </li>
                    <li class="navListItem w74 pr">
                        <div class="delivery pr overHid">
                            <a href="#">客户服务</a>
                            <i class="_downArrow pr fn inlineBlock overHid">
                                <i class="fn pr inlineBlock no_unl overHid">◇</i>
                            </i>
                        </div>
                        <div class="deliveryCity pa w62 h180">

                        </div>

                    </li>
                    <li class="navListItem w74 pr">
                        <div class="delivery pr overHid">
                            <a href="#">网站导航</a>
                            <i class="_downArrow pr fn inlineBlock overHid">
                                <i class="fn pr inlineBlock no_unl overHid">◇</i>
                            </i>
                        </div>
                        <div class="deliveryCity pa rt0 w1210 h246">

                        </div>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    <!--  顶部导航 结束-->

    <!--搜索框部分 -- 开始 -->
    <div class="w_100 h100">
        <article class="searchBar_t w1210 h_70 mbc">
            <aside class="searchBar_l pr fl h_100">
                <a href="http://www.jd.com" class="block logo pr"></a>
                <section class="kinds pa">
                    <h3 class="f20 fn ffMy fc333">美食</h3>
                    <figure class="pa">
                        <figcaption class="delivery pr inlineBlock">
                            <a href="#" class="inlineBlock pa f13 ffMy fc666 f12 no_unl tc rt0">全部分类</a>
                            <i class="_downArrow pa fn inlineBlock overHid rt0">
                                <i class="fn pr inlineBlock no_unl overHid">◇</i>
                            </i>
                        </figcaption>
                        <ul class="pa ffMy f12 none bgdWhite">
                            <li>
                                <a href="#">家用电器</a>
                            </li>
                            <li>
                                <a href="#">手机</a>、
                                <a href="#">数码</a>、
                                <a href="#">京东通信</a>
                            </li>
                            <li>
                                <a href="#">电脑</a>、
                                <a href="#">办公</a>
                            </li>
                            <li>
                                <a href="#">家居</a>、
                                <a href="#">家具</a>、
                                <a href="#">家装</a>、
                                <a href="#">厨具</a>
                            </li>
                            <li>
                                <a href="#">男装</a>、
                                <a href="#">女装</a>、
                                <a href="#">内衣</a>、
                                <a href="#"> 珠宝</a>
                            </li>
                            <li>
                                <a href="#">个护化妆</a>
                            </li>
                            <li>
                                <a href="#">鞋靴</a>、
                                <a href="#">箱包</a>、
                                <a href="#">钟表</a>、
                                <a href="#">奢侈品</a>
                            </li>
                            <li>
                                <a href="#">运动户外</a>
                            </li>
                            <li>
                                <a href="#">汽车</a>、
                                <a href="#">汽车用品</a>
                            </li>
                            <li>
                                <a href="#">母婴</a>、
                                <a href="#">玩具乐器</a>
                            </li>
                            <li>
                                <a href="#">食品</a>、
                                <a href="#">酒类</a>、
                                <a href="#">生鲜</a>、
                                <a href="#">特产</a>
                            </li>
                            <li>
                                <a href="#">营养保健</a>
                            </li>
                            <li>
                                <a href="#">图书</a>、
                                <a href="#">音像</a>、
                                <a href="#">电子书</a>
                            </li>
                            <li>
                                <a href="#">彩票</a>、
                                <a href="#">旅行</a>、
                                <a href="#">充值</a>、
                                <a href="#">票务</a>
                            </li>
                            <li>
                                <a href="#">理财</a>、
                                <a href="#">众筹</a>、
                                <a href="#">白条</a>、
                                <a href="#">保险</a>
                            </li>

                        </ul>
                    </figure>
                </section>
            </aside>

            <aside class="searchBar_m  pr fl">
                <form action="javascript:void(0)">
                    <input type="text" placeholder="巴旦木" name="searchKey" id="searchKey"/>
                    <input type="submit" value="搜索"/>
                </form>
            </aside>

            <aside class="searchBar_r pr fr">
                <section class="delivery">
                    <i class="car block pr"></i>
                    <h4 class="ffMy f13 fn pr">我的购物车</h4>
                    <i class="total block pa tc f12 fn fcWhite ffMy ftn">200</i>
                    <i class="_rightArrow pa overHid fc999">></i>
                </section>
                <section class="shoppingCar bgdWhite pa rt0 none">
                    <i class="zcar inlineBlock pr fl"></i>
                    <h5 class="ffMy fc999 f14 fn pr fr">购物车中还没有商品， 赶紧选购吧！</h5>
                </section>

            </aside>


        </article>

        <article class="searchBar_b w1210 h_30 mbc">
            <section class="w518 mbc">
                <h5 class="pr fl ffmy f13 fc333 fb">热门搜索：</h5>
                <p class="pr fl">
                    <a href="#" class="ffMy f13 fc666 no_unl">茅台</a>
                    <a href="#" class="ffMy f13 fc666 no_unl">铁观音</a>
                    <a href="#" class="ffMy f13 fc666 no_unl">可乐</a>
                    <a href="#" class="ffMy f13 fc666 no_unl">维生素</a>
                    <a href="#" class="ffMy f13 fc666 no_unl">蛋白粉</a>
                    <a href="#" class="ffMy f13 fc666 no_unl">金龙鱼</a>
                    <a href="#" class="ffMy f13 fc666 no_unl">黄飞鸿</a>
                </p>

            </section>
        </article>

    </div>
    <!--搜索框部分 -- 结束 -->


</body>
</html>